<app-header></app-header>
<div class="job__main">
  <div class="container">
    <div class="job__content">
      <div class="hero__two">
        <div class="hero__left">
          <div class="hero__title">Good Morning</div>
          <h3 class="head__three"><span>Steve</span></h3>
          <p class="paragraph">
            Let opportunities get to you. Get access to nearly a thousand job
            posts each month, with hundreds of fresh leads every week.
          </p>
          <button class="btn__primary">
            Advertise Now <i class="pi pi-arrow-right"></i>
          </button>
        </div>
        <div class=""></div>
        <div class="hero__right">
          <img src="../../../assets/jobs-bg.png" alt="" />
        </div>
      </div>
      <div class="section">
        <div class="section__title">All Jobs, 2001 results</div>
        <div class="recent__ads">
          <app-job-card></app-job-card>
          <app-job-card></app-job-card>
          <app-job-card></app-job-card>
          <app-job-card></app-job-card>
          <app-job-card></app-job-card>
          <app-job-card></app-job-card>
          <app-job-card></app-job-card>
          <app-job-card></app-job-card>
          <app-job-card></app-job-card>
          <app-job-card></app-job-card>
        </div>
      </div>
    </div>
  </div>
</div>
