<app-header></app-header>
<div class="search__main">
    <div class="container">
        <div class="search__content">
            <app-search-card></app-search-card>
        </div>

        <div class="section">
            <div class="section__title">Top Search for You</div>
            <div class="recent__ads">
              <app-ad-card></app-ad-card>
              <app-ad-card></app-ad-card>
              <app-ad-card></app-ad-card>
              <app-ad-card></app-ad-card>
              <app-ad-card></app-ad-card>
              <app-ad-card></app-ad-card>
              <app-ad-card></app-ad-card>
              <app-ad-card></app-ad-card>
            </div>
          </div>
    </div>
</div>