<div class="search">
    <div class="search__container">
        <div class="search__left divider">
            <input class="search__input" type="text" placeholder="What are you looking for?">
        </div>
        <div class="search__mid divider">
            <select name="" id="" class="search__option" >
                <option value="" disabled selected>Select category</option>
                <option value="" >
                </option>
            </select>
        </div>
        <div class="search__right">
            <input class="search__input" type="text" placeholder="Location">
        </div>
        <button class="btn__primaryTwo"> Search </button>
    </div>
</div>