.about__main {
  margin-top: 20vh;
  width: 100%;
}
.about__content {
  width: 100%;
}

.about__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.img__responsive {
  width: 100%;
}
.title__text {
  font-size: 20px;
  line-height: 1.6;
  color: #2c2c2c;
}

.head {
  margin: 50px 0;
}

.content__detail {
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  gap: 20px;
  margin-top: 10px;
}

.content__title {
  font-size: 24px;
  line-height: 1.2;
  color: var(--global-color);
  margin-bottom: 10px;
}

.content__number{
    font-size: 18px;
    color: var(--primary-color);
}
