<app-header></app-header>
<div class="about__main">
  <div class="container">
    <div class="about__content">
      <div class="head">
        <h2 class="head__two">How Service Connect Works</h2>
        <p class="title__text">
          A service Portal where you can have the best People for the job right
          now.
        </p>
      </div>
      <div class="about__card">
        <div class="content__left">
          <img class="img__responsive" src="../../../assets/img-1.png" alt="" />
          <div class="content__detail">
            <div class="content__number">01</div>
            <div class="content__text">
              <div class="content__title">Post your Job needs as a Client</div>
              <p class="paragraph">
                We've got you covered on Service Connect. Post your job and
                you'll start getting proposals. Once you've found your expert,
                you can talk timings, availability, and prices before going
                ahead.
              </p>
              <button class="btn__primaryTwo">Post Job Now</button>
            </div>
          </div>
        </div>
        <div class="content__mid">
          <img class="img__responsive" src="../../../assets/img-2.png" alt="" />
          <div class="content__detail">
            <div class="content__number">02</div>
            <div class="content__text">
              <div class="content__title">
                Advertise Skills & Products as a Service Provider
              </div>
              <p class="paragraph">
                Advertise your skills and products on Service Connect. Bid and
                send quotations for jobs posted by clients using our Platform.
              </p>
              <button class="btn__primaryTwo">Advertise Now</button>
            </div>
          </div>
        </div>
        <div class="content__right">
          <img class="img__responsive" src="../../../assets/img-3.png" alt="" />
          <div class="content__detail">
            <div class="content__number">03</div>
            <div class="content__text">
              <div class="content__title">
                Comment & Rate your favourite Service Provider
              </div>
              <p class="paragraph">
                We allow clients to comment and rate their favourite service
                Provider. This helps to boost the profile of Service Providers
                and over all reliablity of the Platform.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
