<div class="ad__card">
  <div class="card__content">
    <div class="card__top">
      <div class="title">Auto Electrician</div>
      <div class="title">14hrs ago</div>
    </div>
    <div class="card__bottom">
      <div class="card__img">
        <img src="../../assets/image-2.png" alt="" />
      </div>
      <div class="card__detail">
        <p class="card__detailTop">
          Canadian software agency seeking talented UX/UI designers with
          experience using Figma! You will be designing websites and
          cross-platform apps for clients using Figma to produce wireframe
          protoypes. Graphic design skills are an asset.
        </p>
        <div class="card__detailBottom">
          <div class="price">$200</div>
          <div class="localtion">
            <i class="pi pi-map-marker"> </i>
            New York
          </div>
          <div class="status">
            <i class="pi pi-rocket"></i>
            Boosted
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
