.blog__card {
    background: #ffffff;
    box-shadow: 0px 17px 40px rgba(22, 33, 242, 0.07);
    border-radius: 24px;
    padding: 40px;
    transition: all 250ms ease-out;
    border: 1px solid white;
    cursor: pointer;
  }
  
  .card__top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
  }
  .title{
      font-family: "neue-bold";
      color: var(--tertiary-color);
  }
  .card__bottom{
      display: grid;
      grid-template-columns: .8fr 3fr;
      grid-gap: 20px;
      padding-top: 20px;
  
  }
  
  .card__detailTop, .card__detailBottom{
      font-size: 14px;
      line-height: 1.5;
  }
  
  .card__detailBottom{
      display: grid;
      grid-template-columns: 1fr 2fr 3fr;
      justify-content: space-between;
      padding-top: 20px;
  
  }
  
  .status{
      margin-left: auto;
      padding: 4px;
      background: var(--secondary-color);
      color: var(--white);
      border-radius: 4px;
      font-size: 12px;
  }
  .card__img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .card__img img{
      width: 100%;
  }
  
  .localtion i{
      font-size: 14px;
      padding-right: 6px;
  }
  .blog__card:hover{
      border: 1px solid var(--blue-500);
      background: var(--blue-bg);
  }

  .blog__card:hover .title, .blog__card:hover .card__detailTop, .blog__card:hover .price, .blog__card:hover .localtion, .blog__card:hover .localtion i{
      color: var(--white);
  }

  .btn__primaryTwo{
    height: 30px;
    width: fit-content;
    padding: 0px 15px;
    margin-left: auto;
  }