<app-header></app-header>
<div class="register__one">
  <div class="container">
    <div class="register__content">
      <div class="register__title">
        <h1 class="head__one">
            Sign in to Platform
        </h1>
        
      </div>
      <div class="register__button">
        <div class="facebook__button">
            <img src="../../../assets/facebook-blue-logo.svg" alt="">
            Continue with Facebook
        </div>
        <div class="google__button">
            <img src="../../../assets/google-logo.svg" alt="">
            Continue with Google
        </div>
    </div>
    <div class="register__bottom">
          <div class="form">
              <input type="email" placeholder="Email">
              <input type="password" placeholder="Password">
              <button class="btn__primaryTwo">
                Login
              </button>
          </div>
        <p class="paragraph">
          Don't have an account? <a routerLink="/register-one"> Signup </a>
        </p>
      </div>
    </div>
  </div>
</div>
