<app-header></app-header>
<div class="register__two">
  <div class="container">
    <div class="register__content">
      <div class="register__title">
        <h1 class="head__one">Sign up to Post a Job</h1>
      </div>
      <div class="register__button">
        <div class="facebook__button">
          <img src="../../../assets/facebook-blue-logo.svg" alt="" />
          Continue with Facebook
        </div>
        <div class="google__button">
          <img src="../../../assets/google-logo.svg" alt="" />
          Continue with Google
        </div>
      </div>
      <div class="register__bottom">
        <div class="form">
          <input type="text" placeholder="Full Name" />
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <input type="text" placeholder="Location" />
          <div class="checkbox">
            <input type="checkbox" />
            <p class="paragraph">
              Yes, i understand and agree on <a routerLink="/home"> Service Connect </a> Terms and
              Conditions , including their <a routerLink="/home"> User agreement </a> and <a routerLink="/">Privacy Policy</a>
            </p>
          </div>
          <button class="btn__primaryTwo">Create My account</button>
        </div>
        <p class="paragraph">
          Don't have an account? <a routerLink="/register-one"> Signup </a>
        </p>
      </div>
    </div>
  </div>
</div>
