.register__card {
  background: #f0f0f0;
  box-shadow: 0px 29px 40px rgba(22, 33, 242, 0.08);
  border-radius: 24px;
  height: 242px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  transition: all 250ms ease-out;
  position: relative;
  cursor: pointer;
  padding: 30px;
}

.register__card::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--primary-color);
  transition: all 250ms ease-out;
  border-radius: 50%;
}

.register__card:hover .card__text {
  color: var(--white);
}

.register__card:hover {
  border: 2px solid var(--primary-color);
  box-shadow: 0px 17px 40px rgba(22, 33, 242, 0.07);
  background: var(--primary-color);
}

.register__card:hover::before {
  border: 2px solid var(--white);
}

.register__card:hover::after {
  content: "";
  position: absolute;
  top: 24px;
  right: 24px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--white);
}

